In [37]:
import pandas as pd

In [38]:
pd.read_csv('data_raw/order_products__prior.csv').head(10)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0
5         2       17794                  6          1
6         2       40141                  7          1
7         2        1819                  8          1
8         2       43668                  9          0
9         3       33754                  1          1

In [39]:
pd.read_csv('data_raw/order_products__train.csv').head(10)

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1
5         1       13176                  6          0
6         1       47209                  7          0
7         1       22035                  8          1
8        36       39612                  1          0
9        36       19660                  2          1

In [40]:
pd.read_csv('data_raw/orders.csv').head(10)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
5,3367565,1,prior,6,2,7,19.0
6,550135,1,prior,7,1,9,20.0
7,3108588,1,prior,8,1,14,14.0
8,2295261,1,prior,9,1,16,0.0
9,2550362,1,prior,10,4,8,30.0

In [41]:
# user_id, order_id, order_number, order_dow, order_hour_of_day, days_since_prior_order, product_id

orders_products = pd.merge(pd.read_csv('data_raw/order_products__prior.csv'), pd.read_csv('data_raw/orders.csv'), on='order_id', how='inner').reset_index(drop=True)[['user_id', 'order_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order', 'product_id']]
orders_products.sort_values(by=['order_number', 'order_id'], inplace=True)

In [42]:
# If your notebook runs from the repo root, make sure src/ is on sys.path
import sys
from pathlib import Path

root = Path(".").resolve()
src_dir = root / "src"
if str(src_dir) not in sys.path:
    sys.path.append(str(src_dir))

from src.qaware.sequences import (
    SequenceBuilderConfig,
    build_sequences_pipeline,
)

In [43]:
cfg = SequenceBuilderConfig(
    data_raw_dir=Path("data_raw"),
    data_processed_dir=Path("data_processed"),
    min_user_interactions=5,
    min_item_interactions=5,
)

interactions_remapped, user_id_to_idx, product_id_to_idx = build_sequences_pipeline(cfg)

In [44]:
interactions_remapped

,user_id,order_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,user_idx,item_idx
0,1,2539329,1,2,8,NaN,196,0,0
1,1,2539329,1,2,8,NaN,14084,0,1
2,1,2539329,1,2,8,NaN,12427,0,2
3,1,2539329,1,2,8,NaN,26088,0,3
4,1,2539329,1,2,8,NaN,26405,0,4
...,...,...,...,...,...,...,...,...,...
32425052,206209,2977660,13,1,12,7.0,14197,205412,519
32425053,206209,2977660,13,1,12,7.0,38730,205412,4707
32425054,206209,2977660,13,1,12,7.0,31477,205412,3778
32425055,206209,2977660,13,1,12,7.0,6567,205412,1846
32425056,206209,2977660,13,1,12,7.0,22920,205412,7205

In [45]:
user_id_to_idx

{1: 0,
 2: 1,
 3: 2,
 4: 3,
 5: 4,
 6: 5,
 7: 6,
 8: 7,
 9: 8,
 10: 9,
 11: 10,
 12: 11,
 13: 12,
 14: 13,
 15: 14,
 16: 15,
 17: 16,
 18: 17,
 19: 18,
 20: 19,
 21: 20,
 22: 21,
 23: 22,
 24: 23,
 25: 24,
 26: 25,
 27: 26,
 28: 27,
 29: 28,
 30: 29,
 31: 30,
 32: 31,
 33: 32,
 34: 33,
 35: 34,
 36: 35,
 37: 36,
 38: 37,
 39: 38,
 40: 39,
 41: 40,
 42: 41,
 43: 42,
 44: 43,
 45: 44,
 46: 45,
 47: 46,
 48: 47,
 49: 48,
 50: 49,
 51: 50,
 52: 51,
 53: 52,
 54: 53,
 55: 54,
 56: 55,
 57: 56,
 58: 57,
 59: 58,
 60: 59,
 61: 60,
 62: 61,
 63: 62,
 64: 63,
 65: 64,
 66: 65,
 67: 66,
 68: 67,
 69: 68,
 70: 69,
 71: 70,
 72: 71,
 73: 72,
 74: 73,
 75: 74,
 76: 75,
 77: 76,
 78: 77,
 79: 78,
 80: 79,
 81: 80,
 82: 81,
 83: 82,
 84: 83,
 85: 84,
 86: 85,
 87: 86,
 88: 87,
 89: 88,
 90: 89,
 91: 90,
 92: 91,
 93: 92,
 94: 93,
 95: 94,
 96: 95,
 97: 96,
 98: 97,
 99: 98,
 100: 99,
 101: 100,
 102: 101,
 103: 102,
 104: 103,
 105: 104,
 106: 105,
 107: 106,
 108: 107,
 109: 108,
 110: 109,
 111: 110,
 112: 111,
 113: 112,
 114: 113,
 115: 114,
 116: 115,
 117: 116,
 118: 117,
 119: 118,
 120: 119,
 121: 120,
 122: 121,
 123: 122,
 124: 123,
 125: 124,
 126: 125,
 127: 126,
 128: 127,
 129: 128,
 130: 129,
 131: 130,
 132: 131,
 133: 132,
 134: 133,
 135: 134,
 136: 135,
 137: 136,
 138: 137,
 139: 138,
 140: 139,
 141: 140,
 142: 141,
 143: 142,
 144: 143,
 145: 144,
 146: 145,
 147: 146,
 148: 147,
 149: 148,
 150: 149,
 151: 150,
 152: 151,
 153: 152,
 154: 153,
 155: 154,
 156: 155,
 157: 156,
 158: 157,
 159: 158,
 160: 159,
 161: 160,
 162: 161,
 163: 162,
 164: 163,
 165: 164,
 166: 165,
 167: 166,
 168: 167,
 169: 168,
 170: 169,
 171: 170,
 172: 171,
 173: 172,
 174: 173,
 175: 174,
 176: 175,
 177: 176,
 178: 177,
 179: 178,
 180: 179,
 181: 180,
 182: 181,
 183: 182,
 184: 183,
 185: 184,
 186: 185,
 187: 186,
 188: 187,
 189: 188,
 190: 189,
 191: 190,
 192: 191,
 193: 192,
 194: 193,
 195: 194,
 197: 195,
 198: 196,
 199: 197,
 200: 198,
 201: 199,
 202: 200,
 203: 201,
 204: 202,
 205: 203,
 206: 204,
 207: 205,
 208: 206,
 209: 207,
 210: 208,
 211: 209,
 212: 210,
 213: 211,
 214: 212,
 215: 213,
 216: 214,
 217: 215,
 218: 216,
 219: 217,
 220: 218,
 221: 219,
 222: 220,
 223: 221,
 224: 222,
 225: 223,
 226: 224,
 227: 225,
 228: 226,
 229: 227,
 230: 228,
 231: 229,
 232: 230,
 233: 231,
 234: 232,
 235: 233,
 236: 234,
 237: 235,
 238: 236,
 239: 237,
 240: 238,
 241: 239,
 242: 240,
 243: 241,
 244: 242,
 245: 243,
 246: 244,
 247: 245,
 248: 246,
 249: 247,
 250: 248,
 251: 249,
 252: 250,
 253: 251,
 254: 252,
 255: 253,
 256: 254,
 257: 255,
 258: 256,
 259: 257,
 260: 258,
 261: 259,
 262: 260,
 263: 261,
 264: 262,
 265: 263,
 266: 264,
 267: 265,
 268: 266,
 269: 267,
 270: 268,
 271: 269,
 272: 270,
 273: 271,
 274: 272,
 275: 273,
 276: 274,
 277: 275,
 278: 276,
 279: 277,
 280: 278,
 281: 279,
 282: 280,
 283: 281,
 284: 282,
 285: 283,
 286: 284,
 287: 285,
 288: 286,
 289: 287,
 290: 288,
 291: 289,
 292: 290,
 293: 291,
 294: 292,
 295: 293,
 296: 294,
 297: 295,
 298: 296,
 299: 297,
 300: 298,
 301: 299,
 302: 300,
 303: 301,
 304: 302,
 305: 303,
 306: 304,
 307: 305,
 308: 306,
 309: 307,
 310: 308,
 311: 309,
 312: 310,
 313: 311,
 314: 312,
 315: 313,
 316: 314,
 317: 315,
 318: 316,
 319: 317,
 320: 318,
 321: 319,
 322: 320,
 323: 321,
 324: 322,
 325: 323,
 326: 324,
 327: 325,
 328: 326,
 329: 327,
 330: 328,
 331: 329,
 332: 330,
 333: 331,
 334: 332,
 335: 333,
 336: 334,
 337: 335,
 338: 336,
 339: 337,
 340: 338,
 341: 339,
 342: 340,
 343: 341,
 344: 342,
 345: 343,
 346: 344,
 347: 345,
 348: 346,
 349: 347,
 350: 348,
 351: 349,
 352: 350,
 353: 351,
 354: 352,
 355: 353,
 356: 354,
 357: 355,
 358: 356,
 359: 357,
 360: 358,
 361: 359,
 362: 360,
 363: 361,
 364: 362,
 365: 363,
 366: 364,
 367: 365,
 368: 366,
 369: 367,
 370: 368,
 371: 369,
 372: 370,
 373: 371,
 374: 372,
 375: 373,
 376: 374,
 377: 375,
 378: 376,
 379: 377,
 380: 378,
 381: 379,
 382: 380,
 383: 381,
 384: 382,
 385: 383,
 386: 384,
 387: 385,
 388: 386,
 389: 387,
 390: 388,
 391: 389,
 392: 390,
 393: 391,
 394: 392,
 395: 393,
 396: 394,
 397: 395,
 398: 396,
 399: 397,
 400: 398,
 401: 399,
 402: 400,
 403: 401,
 404: 402,
 405: 403,
 406: 404,
 407: 405,
 408: 406,
 409: 407,
 410: 408,
 411: 409,
 412: 410,
 413: 411,
 414: 412,
 415: 413,
 416: 414,
 417: 415,
 418: 416,
 419: 417,
 420: 418,
 421: 419,
 422: 420,
 423: 421,
 424: 422,
 425: 423,
 426: 424,
 427: 425,
 428: 426,
 429: 427,
 430: 428,
 431: 429,
 432: 430,
 433: 431,
 434: 432,
 435: 433,
 436: 434,
 437: 435,
 438: 436,
 439: 437,
 440: 438,
 441: 439,
 442: 440,
 443: 441,
 444: 442,
 445: 443,
 446: 444,
 447: 445,
 448: 446,
 449: 447,
 450: 448,
 451: 449,
 452: 450,
 453: 451,
 454: 452,
 455: 453,
 456: 454,
 457: 455,
 458: 456,
 459: 457,
 460: 458,
 461: 459,
 462: 460,
 463: 461,
 464: 462,
 465: 463,
 466: 464,
 467: 465,
 468: 466,
 469: 467,
 470: 468,
 471: 469,
 472: 470,
 473: 471,
 474: 472,
 475: 473,
 476: 474,
 477: 475,
 478: 476,
 479: 477,
 480: 478,
 481: 479,
 482: 480,
 483: 481,
 484: 482,
 485: 483,
 486: 484,
 487: 485,
 488: 486,
 489: 487,
 491: 488,
 492: 489,
 493: 490,
 494: 491,
 495: 492,
 496: 493,
 497: 494,
 498: 495,
 499: 496,
 500: 497,
 501: 498,
 502: 499,
 503: 500,
 504: 501,
 505: 502,
 506: 503,
 507: 504,
 508: 505,
 509: 506,
 510: 507,
 511: 508,
 512: 509,
 513: 510,
 514: 511,
 515: 512,
 516: 513,
 517: 514,
 518: 515,
 519: 516,
 520: 517,
 521: 518,
 522: 519,
 523: 520,
 524: 521,
 525: 522,
 526: 523,
 527: 524,
 528: 525,
 529: 526,
 530: 527,
 531: 528,
 532: 529,
 533: 530,
 534: 531,
 535: 532,
 536: 533,
 537: 534,
 538: 535,
 539: 536,
 540: 537,
 541: 538,
 542: 539,
 543: 540,
 544: 541,
 545: 542,
 546: 543,
 547: 544,
 548: 545,
 549: 546,
 550: 547,
 551: 548,
 552: 549,
 553: 550,
 554: 551,
 555: 552,
 556: 553,
 557: 554,
 558: 555,
 559: 556,
 560: 557,
 561: 558,
 562: 559,
 563: 560,
 564: 561,
 565: 562,
 566: 563,
 567: 564,
 568: 565,
 570: 566,
 571: 567,
 572: 568,
 573: 569,
 574: 570,
 575: 571,
 576: 572,
 577: 573,
 578: 574,
 579: 575,
 580: 576,
 581: 577,
 582: 578,
 583: 579,
 584: 580,
 585: 581,
 586: 582,
 587: 583,
 588: 584,
 589: 585,
 590: 586,
 591: 587,
 592: 588,
 593: 589,
 594: 590,
 595: 591,
 596: 592,
 597: 593,
 598: 594,
 599: 595,
 600: 596,
 601: 597,
 602: 598,
 603: 599,
 604: 600,
 605: 601,
 606: 602,
 607: 603,
 608: 604,
 609: 605,
 610: 606,
 611: 607,
 612: 608,
 613: 609,
 614: 610,
 615: 611,
 616: 612,
 617: 613,
 618: 614,
 620: 615,
 621: 616,
 622: 617,
 623: 618,
 624: 619,
 625: 620,
 626: 621,
 628: 622,
 629: 623,
 630: 624,
 631: 625,
 632: 626,
 633: 627,
 634: 628,
 635: 629,
 636: 630,
 637: 631,
 638: 632,
 639: 633,
 640: 634,
 641: 635,
 642: 636,
 643: 637,
 644: 638,
 645: 639,
 646: 640,
 647: 641,
 648: 642,
 649: 643,
 650: 644,
 651: 645,
 652: 646,
 653: 647,
 654: 648,
 655: 649,
 656: 650,
 657: 651,
 658: 652,
 659: 653,
 660: 654,
 661: 655,
 662: 656,
 663: 657,
 664: 658,
 665: 659,
 666: 660,
 667: 661,
 668: 662,
 669: 663,
 670: 664,
 671: 665,
 672: 666,
 673: 667,
 674: 668,
 675: 669,
 676: 670,
 677: 671,
 678: 672,
 679: 673,
 680: 674,
 681: 675,
 682: 676,
 683: 677,
 684: 678,
 685: 679,
 686: 680,
 687: 681,
 688: 682,
 689: 683,
 690: 684,
 691: 685,
 692: 686,
 693: 687,
 694: 688,
 695: 689,
 696: 690,
 697: 691,
 698: 692,
 699: 693,
 700: 694,
 701: 695,
 702: 696,
 703: 697,
 704: 698,
 705: 699,
 706: 700,
 707: 701,
 708: 702,
 709: 703,
 710: 704,
 711: 705,
 712: 706,
 713: 707,
 714: 708,
 715: 709,
 716: 710,
 717: 711,
 718: 712,
 719: 713,
 720: 714,
 721: 715,
 722: 716,
 723: 717,
 724: 718,
 725: 719,
 726: 720,
 727: 721,
 728: 722,
 729: 723,
 730: 724,
 731: 725,
 732: 726,
 733: 727,
 734: 728,
 735: 729,
 736: 730,
 737: 731,
 738: 732,
 739: 733,
 740: 734,
 741: 735,
 742: 736,
 743: 737,
 744: 738,
 745: 739,
 746: 740,
 747: 741,
 748: 742,
 749: 743,
 750: 744,
 751: 745,
 752: 746,
 753: 747,
 754: 748,
 755: 749,
 756: 750,
 757: 751,
 758: 752,
 759: 753,
 760: 754,
 761: 755,
 762: 756,
 763: 757,
 764: 758,
 765: 759,
 766: 760,
 767: 761,
 768: 762,
 769: 763,
 770: 764,
 771: 765,
 772: 766,
 773: 767,
 774: 768,
 775: 769,
 776: 770,
 777: 771,
 778: 772,
 779: 773,
 780: 774,
 781: 775,
 782: 776,
 784: 777,
 785: 778,
 786: 779,
 787: 780,
 788: 781,
 789: 782,
 790: 783,
 791: 784,
 792: 785,
 793: 786,
 794: 787,
 795: 788,
 796: 789,
 797: 790,
 798: 791,
 799: 792,
 800: 793,
 801: 794,
 802: 795,
 803: 796,
 804: 797,
 805: 798,
 806: 799,
 807: 800,
 808: 801,
 809: 802,
 810: 803,
 811: 804,
 812: 805,
 813: 806,
 814: 807,
 815: 808,
 816: 809,
 817: 810,
 818: 811,
 819: 812,
 820: 813,
 821: 814,
 822: 815,
 823: 816,
 824: 817,
 825: 818,
 826: 819,
 827: 820,
 828: 821,
 829: 822,
 830: 823,
 831: 824,
 832: 825,
 833: 826,
 834: 827,
 835: 828,
 836: 829,
 837: 830,
 838: 831,
 839: 832,
 840: 833,
 841: 834,
 842: 835,
 843: 836,
 844: 837,
 845: 838,
 846: 839,
 847: 840,
 848: 841,
 849: 842,
 850: 843,
 851: 844,
 852: 845,
 853: 846,
 854: 847,
 855: 848,
 856: 849,
 857: 850,
 858: 851,
 859: 852,
 860: 853,
 862: 854,
 863: 855,
 864: 856,
 865: 857,
 866: 858,
 867: 859,
 868: 860,
 869: 861,
 870: 862,
 871: 863,
 872: 864,
 873: 865,
 874: 866,
 875: 867,
 876: 868,
 877: 869,
 878: 870,
 879: 871,
 880: 872,
 881: 873,
 882: 874,
 883: 875,
 884: 876,
 885: 877,
 886: 878,
 887: 879,
 888: 880,
 889: 881,
 890: 882,
 891: 883,
 892: 884,
 893: 885,
 894: 886,
 895: 887,
 896: 888,
 897: 889,
 898: 890,
 899: 891,
 900: 892,
 901: 893,
 902: 894,
 903: 895,
 904: 896,
 905: 897,
 906: 898,
 907: 899,
 908: 900,
 909: 901,
 910: 902,
 911: 903,
 912: 904,
 913: 905,
 914: 906,
 915: 907,
 916: 908,
 917: 909,
 918: 910,
 919: 911,
 920: 912,
 921: 913,
 922: 914,
 923: 915,
 924: 916,
 925: 917,
 926: 918,
 927: 919,
 928: 920,
 929: 921,
 930: 922,
 931: 923,
 932: 924,
 933: 925,
 934: 926,
 935: 927,
 936: 928,
 937: 929,
 938: 930,
 939: 931,
 940: 932,
 941: 933,
 942: 934,
 943: 935,
 944: 936,
 945: 937,
 946: 938,
 947: 939,
 948: 940,
 949: 941,
 950: 942,
 951: 943,
 952: 944,
 953: 945,
 954: 946,
 955: 947,
 956: 948,
 957: 949,
 958: 950,
 959: 951,
 960: 952,
 961: 953,
 962: 954,
 963: 955,
 964: 956,
 965: 957,
 966: 958,
 967: 959,
 968: 960,
 969: 961,
 970: 962,
 971: 963,
 972: 964,
 973: 965,
 974: 966,
 975: 967,
 976: 968,
 977: 969,
 978: 970,
 979: 971,
 980: 972,
 981: 973,
 982: 974,
 983: 975,
 984: 976,
 985: 977,
 986: 978,
 987: 979,
 988: 980,
 989: 981,
 990: 982,
 991: 983,
 992: 984,
 993: 985,
 994: 986,
 995: 987,
 996: 988,
 997: 989,
 998: 990,
 999: 991,
 1000: 992,
 1001: 993,
 1002: 994,
 1003: 995,
 1004: 996,
 1005: 997,
 1006: 998,
 1007: 999,
 ...}

In [46]:
product_id_to_idx

{196: 0,
 14084: 1,
 12427: 2,
 26088: 3,
 26405: 4,
 10258: 5,
 13176: 6,
 13032: 7,
 25133: 8,
 30450: 9,
 10326: 10,
 17122: 11,
 41787: 12,
 46149: 13,
 49235: 14,
 39657: 15,
 38928: 16,
 35951: 17,
 32792: 18,
 47766: 19,
 20574: 20,
 12000: 21,
 48110: 22,
 22474: 23,
 16589: 24,
 35917: 25,
 27344: 26,
 30489: 27,
 27966: 28,
 45066: 29,
 16797: 30,
 47526: 31,
 8479: 32,
 19051: 33,
 8138: 34,
 7781: 35,
 28874: 36,
 49451: 37,
 32139: 38,
 34688: 39,
 36735: 40,
 37646: 41,
 22829: 42,
 24852: 43,
 47209: 44,
 33276: 45,
 45613: 46,
 9681: 47,
 21150: 48,
 47144: 49,
 5322: 50,
 17224: 51,
 38656: 52,
 21376: 53,
 48210: 54,
 5907: 55,
 14553: 56,
 47553: 57,
 22124: 58,
 19156: 59,
 1559: 60,
 32052: 61,
 46676: 62,
 33754: 63,
 17872: 64,
 18523: 65,
 24954: 66,
 4957: 67,
 40571: 68,
 46886: 69,
 40198: 70,
 17758: 71,
 28918: 72,
 22963: 73,
 23: 74,
 20084: 75,
 2002: 76,
 5212: 77,
 14306: 78,
 13742: 79,
 18961: 80,
 15841: 81,
 13351: 82,
 5450: 83,
 48099: 84,
 49273: 85,
 47792: 86,
 9124: 87,
 22559: 88,
 33957: 89,
 27737: 90,
 2573: 91,
 4071: 92,
 8296: 93,
 21227: 94,
 3151: 95,
 19240: 96,
 21709: 97,
 10305: 98,
 24990: 99,
 36287: 100,
 42356: 101,
 12258: 102,
 42342: 103,
 30908: 104,
 79: 105,
 5869: 106,
 44303: 107,
 16521: 108,
 39877: 109,
 19057: 110,
 45948: 111,
 22825: 112,
 27413: 113,
 39928: 114,
 20785: 115,
 24768: 116,
 7963: 117,
 9387: 118,
 17668: 119,
 15143: 120,
 39190: 121,
 21903: 122,
 39922: 123,
 24810: 124,
 32402: 125,
 38596: 126,
 248: 127,
 40604: 128,
 8021: 129,
 21137: 130,
 23650: 131,
 49683: 132,
 28373: 133,
 7503: 134,
 1819: 135,
 12845: 136,
 16965: 137,
 24010: 138,
 22035: 139,
 42265: 140,
 18370: 141,
 44683: 142,
 14992: 143,
 43961: 144,
 18599: 145,
 42557: 146,
 48523: 147,
 1005: 148,
 36606: 149,
 7350: 150,
 35469: 151,
 2707: 152,
 42329: 153,
 7160: 154,
 1200: 155,
 17769: 156,
 43704: 157,
 11865: 158,
 22199: 159,
 25146: 160,
 26576: 161,
 25623: 162,
 21573: 163,
 15349: 164,
 21413: 165,
 48775: 166,
 28289: 167,
 8518: 168,
 11777: 169,
 31717: 170,
 26604: 171,
 43693: 172,
 22475: 173,
 24535: 174,
 6808: 175,
 21616: 176,
 18761: 177,
 13870: 178,
 13988: 179,
 20754: 180,
 24231: 181,
 40706: 182,
 16168: 183,
 3376: 184,
 5999: 185,
 27521: 186,
 38293: 187,
 48679: 188,
 20323: 189,
 40992: 190,
 45007: 191,
 11068: 192,
 10644: 193,
 49401: 194,
 25659: 195,
 8424: 196,
 45628: 197,
 39275: 198,
 6361: 199,
 13249: 200,
 31683: 201,
 519: 202,
 37999: 203,
 49508: 204,
 29871: 205,
 14332: 206,
 4920: 207,
 37602: 208,
 19019: 209,
 17638: 210,
 40852: 211,
 27690: 212,
 9598: 213,
 15581: 214,
 45537: 215,
 13198: 216,
 274: 217,
 43967: 218,
 42803: 219,
 30391: 220,
 19678: 221,
 31343: 222,
 10895: 223,
 14267: 224,
 39121: 225,
 42828: 226,
 47272: 227,
 29993: 228,
 13802: 229,
 26346: 230,
 8277: 231,
 32177: 232,
 33740: 233,
 22742: 234,
 29602: 235,
 46969: 236,
 21298: 237,
 22000: 238,
 35333: 239,
 10504: 240,
 43352: 241,
 25199: 242,
 12196: 243,
 15592: 244,
 18382: 245,
 23712: 246,
 4945: 247,
 11520: 248,
 44661: 249,
 26209: 250,
 27156: 251,
 29894: 252,
 23516: 253,
 47623: 254,
 18880: 255,
 28985: 256,
 6473: 257,
 39110: 258,
 39812: 259,
 20920: 260,
 32030: 261,
 24838: 262,
 2078: 263,
 651: 264,
 16349: 265,
 49533: 266,
 17794: 267,
 23400: 268,
 1529: 269,
 6141: 270,
 44099: 271,
 23165: 272,
 34190: 273,
 9839: 274,
 26882: 275,
 42736: 276,
 18531: 277,
 32197: 278,
 11136: 279,
 34358: 280,
 43295: 281,
 4799: 282,
 33640: 283,
 41540: 284,
 15937: 285,
 8193: 286,
 18479: 287,
 27973: 288,
 481: 289,
 38159: 290,
 38277: 291,
 5194: 292,
 5002: 293,
 13740: 294,
 26790: 295,
 6489: 296,
 16154: 297,
 45045: 298,
 19627: 299,
 43875: 300,
 45767: 301,
 47167: 302,
 16018: 303,
 8952: 304,
 7952: 305,
 311: 306,
 21108: 307,
 11790: 308,
 23592: 309,
 31066: 310,
 24341: 311,
 18926: 312,
 8834: 313,
 33787: 314,
 30252: 315,
 29594: 316,
 17600: 317,
 2732: 318,
 12075: 319,
 27596: 320,
 10132: 321,
 8467: 322,
 30967: 323,
 24952: 324,
 34448: 325,
 39409: 326,
 20899: 327,
 21462: 328,
 41844: 329,
 23765: 330,
 42347: 331,
 38988: 332,
 27555: 333,
 3634: 334,
 38777: 335,
 46979: 336,
 27104: 337,
 47380: 338,
 20995: 339,
 43014: 340,
 15011: 341,
 13512: 342,
 9339: 343,
 5646: 344,
 28986: 345,
 41220: 346,
 44910: 347,
 15290: 348,
 36695: 349,
 47042: 350,
 25931: 351,
 5818: 352,
 32537: 353,
 11782: 354,
 18441: 355,
 15392: 356,
 7632: 357,
 32299: 358,
 48204: 359,
 28535: 360,
 34128: 361,
 8988: 362,
 13212: 363,
 7746: 364,
 35973: 365,
 35725: 366,
 45664: 367,
 16857: 368,
 31506: 369,
 5769: 370,
 13629: 371,
 44359: 372,
 26940: 373,
 21174: 374,
 18656: 375,
 30305: 376,
 37687: 377,
 47626: 378,
 47788: 379,
 34126: 380,
 28842: 381,
 21833: 382,
 28928: 383,
 13083: 384,
 47591: 385,
 24184: 386,
 260: 387,
 17828: 388,
 9871: 389,
 23879: 390,
 36865: 391,
 13829: 392,
 23541: 393,
 42625: 394,
 42647: 395,
 20632: 396,
 16185: 397,
 47912: 398,
 8309: 399,
 28465: 400,
 42585: 401,
 36070: 402,
 16869: 403,
 35765: 404,
 35738: 405,
 18987: 406,
 38456: 407,
 35640: 408,
 47601: 409,
 18465: 410,
 35948: 411,
 8670: 412,
 14947: 413,
 41290: 414,
 34658: 415,
 33731: 416,
 27959: 417,
 8197: 418,
 33572: 419,
 19543: 420,
 5605: 421,
 95: 422,
 19769: 423,
 12384: 424,
 38970: 425,
 27451: 426,
 20383: 427,
 30855: 428,
 44632: 429,
 44987: 430,
 8230: 431,
 30480: 432,
 22950: 433,
 34551: 434,
 15261: 435,
 33037: 436,
 35321: 437,
 40738: 438,
 41319: 439,
 40055: 440,
 24799: 441,
 17706: 442,
 48697: 443,
 49374: 444,
 30563: 445,
 5989: 446,
 41909: 447,
 33021: 448,
 21040: 449,
 17159: 450,
 40377: 451,
 10863: 452,
 17766: 453,
 7076: 454,
 28134: 455,
 46157: 456,
 20350: 457,
 48835: 458,
 33761: 459,
 5876: 460,
 11845: 461,
 21198: 462,
 27243: 463,
 12206: 464,
 5746: 465,
 47672: 466,
 8239: 467,
 38164: 468,
 42450: 469,
 12872: 470,
 34216: 471,
 19895: 472,
 45056: 473,
 38693: 474,
 22935: 475,
 35345: 476,
 12797: 477,
 10978: 478,
 33443: 479,
 28342: 480,
 20144: 481,
 44422: 482,
 22959: 483,
 7120: 484,
 19006: 485,
 39667: 486,
 24390: 487,
 47509: 488,
 34243: 489,
 48364: 490,
 32850: 491,
 44142: 492,
 32446: 493,
 4210: 494,
 27086: 495,
 1689: 496,
 27435: 497,
 19474: 498,
 7099: 499,
 33735: 500,
 19934: 501,
 41480: 502,
 31372: 503,
 5652: 504,
 31134: 505,
 41351: 506,
 42125: 507,
 37385: 508,
 18168: 509,
 42248: 510,
 5618: 511,
 25134: 512,
 43086: 513,
 29334: 514,
 5025: 515,
 5991: 516,
 34382: 517,
 41926: 518,
 14197: 519,
 5077: 520,
 44813: 521,
 29509: 522,
 23803: 523,
 7877: 524,
 49481: 525,
 48566: 526,
 23360: 527,
 44212: 528,
 23819: 529,
 34234: 530,
 17923: 531,
 33086: 532,
 239: 533,
 30295: 534,
 4893: 535,
 46454: 536,
 16776: 537,
 9239: 538,
 12232: 539,
 21689: 540,
 27135: 541,
 32115: 542,
 33041: 543,
 27012: 544,
 15078: 545,
 48190: 546,
 34827: 547,
 11703: 548,
 46547: 549,
 11131: 550,
 40348: 551,
 39545: 552,
 17556: 553,
 22849: 554,
 29382: 555,
 2927: 556,
 14875: 557,
 32428: 558,
 35264: 559,
 40286: 560,
 1958: 561,
 48572: 562,
 12358: 563,
 8744: 564,
 40478: 565,
 9774: 566,
 12448: 567,
 5782: 568,
 9477: 569,
 15358: 570,
 13145: 571,
 40925: 572,
 7239: 573,
 19750: 574,
 24970: 575,
 14613: 576,
 48101: 577,
 43863: 578,
 11418: 579,
 37725: 580,
 4497: 581,
 10568: 582,
 32476: 583,
 44799: 584,
 13525: 585,
 1261: 586,
 40540: 587,
 37266: 588,
 831: 589,
 30517: 590,
 34229: 591,
 40330: 592,
 12323: 593,
 28601: 594,
 40162: 595,
 12496: 596,
 45407: 597,
 7751: 598,
 5595: 599,
 12432: 600,
 11348: 601,
 12703: 602,
 15673: 603,
 25309: 604,
 13159: 605,
 33360: 606,
 10549: 607,
 24622: 608,
 32158: 609,
 19585: 610,
 38342: 611,
 19003: 612,
 4489: 613,
 4759: 614,
 22337: 615,
 9076: 616,
 43127: 617,
 47117: 618,
 35416: 619,
 15172: 620,
 19307: 621,
 2138: 622,
 10321: 623,
 32051: 624,
 12168: 625,
 33689: 626,
 23271: 627,
 45099: 628,
 45519: 629,
 22179: 630,
 18439: 631,
 18069: 632,
 8512: 633,
 49010: 634,
 40836: 635,
 13966: 636,
 12429: 637,
 15134: 638,
 3808: 639,
 32211: 640,
 15869: 641,
 6518: 642,
 37434: 643,
 27862: 644,
 3384: 645,
 31701: 646,
 10776: 647,
 8928: 648,
 39399: 649,
 20938: 650,
 10735: 651,
 38845: 652,
 11266: 653,
 10441: 654,
 14715: 655,
 37710: 656,
 42862: 657,
 27839: 658,
 30292: 659,
 37059: 660,
 48142: 661,
 1747: 662,
 43721: 663,
 41950: 664,
 48745: 665,
 46667: 666,
 4086: 667,
 22247: 668,
 49478: 669,
 10017: 670,
 5134: 671,
 31772: 672,
 27336: 673,
 12069: 674,
 45073: 675,
 17948: 676,
 13780: 677,
 37107: 678,
 45229: 679,
 33346: 680,
 35140: 681,
 48171: 682,
 36198: 683,
 43858: 684,
 28199: 685,
 30406: 686,
 46709: 687,
 36772: 688,
 7948: 689,
 24561: 690,
 15872: 691,
 21405: 692,
 48283: 693,
 32691: 694,
 47141: 695,
 17762: 696,
 18534: 697,
 6334: 698,
 6212: 699,
 30992: 700,
 8730: 701,
 10300: 702,
 15925: 703,
 21187: 704,
 25307: 705,
 20215: 706,
 15125: 707,
 38618: 708,
 44265: 709,
 11919: 710,
 47940: 711,
 12513: 712,
 36736: 713,
 40844: 714,
 15820: 715,
 20934: 716,
 9634: 717,
 19766: 718,
 22309: 719,
 46844: 720,
 36463: 721,
 26767: 722,
 9006: 723,
 5128: 724,
 17040: 725,
 49131: 726,
 27629: 727,
 48544: 728,
 12855: 729,
 32498: 730,
 9641: 731,
 48682: 732,
 15844: 733,
 43986: 734,
 36130: 735,
 35419: 736,
 10921: 737,
 38760: 738,
 21553: 739,
 7026: 740,
 31268: 741,
 47577: 742,
 36552: 743,
 47031: 744,
 38444: 745,
 14146: 746,
 812: 747,
 29004: 748,
 1073: 749,
 25464: 750,
 33560: 751,
 29791: 752,
 9176: 753,
 19468: 754,
 40592: 755,
 18855: 756,
 5748: 757,
 4591: 758,
 45190: 759,
 40203: 760,
 1774: 761,
 44234: 762,
 12720: 763,
 16188: 764,
 48933: 765,
 23117: 766,
 29589: 767,
 44492: 768,
 16486: 769,
 7992: 770,
 18567: 771,
 25997: 772,
 47546: 773,
 36216: 774,
 7700: 775,
 40723: 776,
 3219: 777,
 343: 778,
 29328: 779,
 22031: 780,
 4461: 781,
 810: 782,
 23719: 783,
 10807: 784,
 36178: 785,
 8112: 786,
 36861: 787,
 21019: 788,
 38450: 789,
 38739: 790,
 24830: 791,
 41620: 792,
 2826: 793,
 39013: 794,
 27729: 795,
 36227: 796,
 18174: 797,
 22520: 798,
 11613: 799,
 18799: 800,
 26525: 801,
 5209: 802,
 1832: 803,
 39987: 804,
 31591: 805,
 12318: 806,
 39978: 807,
 3364: 808,
 22633: 809,
 17008: 810,
 14252: 811,
 33756: 812,
 24629: 813,
 34887: 814,
 43867: 815,
 35123: 816,
 2192: 817,
 13822: 818,
 11749: 819,
 45037: 820,
 15599: 821,
 31707: 822,
 30123: 823,
 47193: 824,
 5315: 825,
 23483: 826,
 41302: 827,
 12108: 828,
 15131: 829,
 20945: 830,
 39130: 831,
 46052: 832,
 28634: 833,
 43692: 834,
 17763: 835,
 18329: 836,
 39290: 837,
 27138: 838,
 29294: 839,
 44843: 840,
 10990: 841,
 7559: 842,
 13921: 843,
 10823: 844,
 20607: 845,
 29577: 846,
 5183: 847,
 34690: 848,
 36562: 849,
 3747: 850,
 33136: 851,
 6385: 852,
 30606: 853,
 40322: 854,
 1241: 855,
 25232: 856,
 48440: 857,
 30696: 858,
 43263: 859,
 17464: 860,
 33082: 861,
 25367: 862,
 27742: 863,
 25397: 864,
 33122: 865,
 43732: 866,
 19341: 867,
 3110: 868,
 25037: 869,
 18102: 870,
 44187: 871,
 31487: 872,
 43772: 873,
 39993: 874,
 43409: 875,
 9901: 876,
 37066: 877,
 20156: 878,
 22782: 879,
 46023: 880,
 31725: 881,
 2848: 882,
 3996: 883,
 35887: 884,
 29255: 885,
 21011: 886,
 21001: 887,
 11229: 888,
 40674: 889,
 44870: 890,
 15482: 891,
 3334: 892,
 29284: 893,
 22788: 894,
 28221: 895,
 21333: 896,
 39107: 897,
 23734: 898,
 34724: 899,
 30960: 900,
 9493: 901,
 42913: 902,
 25170: 903,
 47805: 904,
 41483: 905,
 40974: 906,
 28805: 907,
 48437: 908,
 4817: 909,
 14905: 910,
 14147: 911,
 22608: 912,
 16855: 913,
 22999: 914,
 35042: 915,
 31087: 916,
 13914: 917,
 46061: 918,
 13575: 919,
 6184: 920,
 22362: 921,
 41400: 922,
 23729: 923,
 43645: 924,
 46842: 925,
 44156: 926,
 18721: 927,
 43154: 928,
 24186: 929,
 17616: 930,
 30425: 931,
 48988: 932,
 14788: 933,
 6991: 934,
 16464: 935,
 11352: 936,
 30618: 937,
 31387: 938,
 41131: 939,
 12129: 940,
 14708: 941,
 17038: 942,
 44375: 943,
 32553: 944,
 12615: 945,
 11187: 946,
 4606: 947,
 35221: 948,
 20272: 949,
 12013: 950,
 16139: 951,
 33548: 952,
 37940: 953,
 33819: 954,
 46388: 955,
 29095: 956,
 33065: 957,
 15720: 958,
 23504: 959,
 36425: 960,
 45603: 961,
 28204: 962,
 6348: 963,
 10151: 964,
 43814: 965,
 5860: 966,
 36677: 967,
 27548: 968,
 42536: 969,
 10957: 970,
 13588: 971,
 15902: 972,
 21508: 973,
 8668: 974,
 18793: 975,
 49326: 976,
 11662: 977,
 27044: 978,
 48205: 979,
 2434: 980,
 3485: 981,
 7331: 982,
 22275: 983,
 15618: 984,
 4006: 985,
 33127: 986,
 45636: 987,
 48559: 988,
 36574: 989,
 33894: 990,
 47759: 991,
 36076: 992,
 3023: 993,
 29127: 994,
 42666: 995,
 12683: 996,
 25740: 997,
 6576: 998,
 17982: 999,
 ...}

In [47]:
# Basic shape and columns
print("Interactions shape:", interactions_remapped.shape)
print(interactions_remapped.columns)

# Peek at the first few rows
interactions_remapped.head()

Interactions shape: (32425057, 9)
Index(['user_id', 'order_id', 'order_number', 'order_dow', 'order_hour_of_day',
       'days_since_prior_order', 'product_id', 'user_idx', 'item_idx'],
      dtype='str')

,user_id,order_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,user_idx,item_idx
0,1,2539329,1,2,8,NaN,196,0,0
1,1,2539329,1,2,8,NaN,14084,0,1
2,1,2539329,1,2,8,NaN,12427,0,2
3,1,2539329,1,2,8,NaN,26088,0,3
4,1,2539329,1,2,8,NaN,26405,0,4

In [48]:
# How many users/items after filtering
num_users = len(user_id_to_idx)
num_items = len(product_id_to_idx)
print("Num users:", num_users)
print("Num items:", num_items)

# Example: check one userâ€™s sequence by raw id and by idx
example_user_id = next(iter(user_id_to_idx.keys()))
example_user_idx = user_id_to_idx[example_user_id]

user_rows = interactions_remapped[interactions_remapped["user_id"] == example_user_id]
print("Example user_id:", example_user_id, "-> user_idx:", example_user_idx)
user_rows[["user_id", "user_idx", "order_number", "product_id", "item_idx"]].head(20)

Num users: 205413
Num items: 47618
Example user_id: 1 -> user_idx: 0

    user_id  user_idx  order_number  product_id  item_idx
0         1         0             1         196         0
1         1         0             1       14084         1
2         1         0             1       12427         2
3         1         0             1       26088         3
4         1         0             1       26405         4
5         1         0             2         196         0
6         1         0             2       10258         5
7         1         0             2       12427         2
8         1         0             2       13176         6
9         1         0             2       26088         3
10        1         0             2       13032         7
11        1         0             3         196         0
12        1         0             3       12427         2
13        1         0             3       10258         5
14        1         0             3       25133         8
15        1         0             3       30450         9
16        1         0             4         196         0
17        1         0             4       12427         2
18        1         0             4       10258         5
19        1         0             4       25133         8

In [ ]:
from src.qaware.sequences import build_per_interaction_table

build_per_interaction_table(cfg)

In [49]:
# Test Step 4: Create time-based train/val/test split
from src.qaware.sequences import create_time_based_split

print("Creating train/val/test split...")
train_df, val_df, test_df = create_time_based_split(interactions_remapped, cfg)

print(f"Train interactions: {len(train_df)}")
print(f"Val interactions: {len(val_df)}")
print(f"Test interactions: {len(test_df)}")
print(f"\nTotal after split: {len(train_df) + len(val_df) + len(test_df)}")

Creating train/val/test split...
Train interactions: 32014231
Val interactions: 205413
Test interactions: 205413

Total after split: 32425057

In [50]:
# Inspect a specific user's split
example_user_id = train_df["user_id"].iloc[0]
print(f"Example user: {example_user_id}")

user_train = train_df[train_df["user_id"] == example_user_id]
user_val = val_df[val_df["user_id"] == example_user_id]
user_test = test_df[test_df["user_id"] == example_user_id]

print(f"  Train: {len(user_train)} interactions")
print(f"  Val: {len(user_val)} interactions")
print(f"  Test: {len(user_test)} interactions")

# Show the sequence
print(f"\n  Train items (first 10): {user_train['product_id'].head(10).tolist()}")
if len(user_val) > 0:
    print(f"  Val item: {user_val['product_id'].iloc[0]}")
if len(test_df) > 0:
    print(f"  Test item: {user_test['product_id'].iloc[0]}")

Example user: 1
  Train: 57 interactions
  Val: 1 interactions
  Test: 1 interactions

  Train items (first 10): [196, 14084, 12427, 26088, 26405, 196, 10258, 12427, 13176, 26088]
  Val item: 13032
  Test item: 12427

In [51]:
# Verify no data leakage (check that train/val/test don't overlap)
train_users = set(train_df["user_id"].unique())
val_users = set(val_df["user_id"].unique())
test_users = set(test_df["user_id"].unique())

print("User overlap check:")
print(f"  Users in train: {len(train_users)}")
print(f"  Users in val: {len(val_users)}")
print(f"  Users in test: {len(test_users)}")
print(f"  All users appear in all splits: {train_users == val_users == test_users}")

# Check that each user has exactly 1 val and 1 test interaction
val_counts = val_df.groupby("user_id").size()
test_counts = test_df.groupby("user_id").size()
print(f"\n  Users with exactly 1 val interaction: {(val_counts == 1).sum()}/{len(val_counts)}")
print(f"  Users with exactly 1 test interaction: {(test_counts == 1).sum()}/{len(test_counts)}")

User overlap check:
  Users in train: 205413
  Users in val: 205413
  Users in test: 205413
  All users appear in all splits: True

  Users with exactly 1 val interaction: 205413/205413
  Users with exactly 1 test interaction: 205413/205413